#hero-section {
    background: #b8dde2;
    padding-top: 50px;
}
.banner-text h3 {
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
}
.banner-text p {
    font-size: 28px;
}

.hero-image {
    text-align: center;
    height: 650px;
    overflow: hidden;
}
