#about-us {
    padding: 100px 0;
}
.about-image img {
    width: 80%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.about-text h4 {
    font-size: 48px;
    font-weight: 700;
}
.about-text p {
    font-size: 20px;
    line-height: 1.2;
}
.about-text ul {
    padding: 0;
    list-style: inside;
}
.site-btn .btn {
    border: 1px solid #2a8893;
    background: #2a8893;
    color: #fff;
    padding: 10px 30px;
    font-weight: 600;
}